/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A5668B;

}


/* TOP NAVIGATION BAR */

nav {
    overflow: hidden;
    font-family: 'Roboto',
        sans-serif;

}

nav a {
    text-decoration: none;
    color: #D3BCC0;
    font-size: 20px;
    float: right;
    padding: 10px;
    margin: 10px;
}

nav a:hover {
    color: #69306D;
}


/* MAIN */

main {
    color: #D3BCC0;
    font-size: 100px;
    text-align: center;
    margin: 70px;
    padding: 20px;
}


/* FOOTER SOCIAL ICONS */

footer {
    margin: 0 auto;
    text-align: center;
}

footer a {
    color: #D3BCC0;
    font-size: 50px;
    padding: 5px;
    display: block;
    text-decoration: none;
}

footer a:hover {
    color: #69306D;
}